name: Flutter CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze
        run: flutter analyze

      - name: Install LCOV
        run: sudo apt-get install -y lcov

      - name: Run tests
        run: flutter test --coverage

      - name: Verify Coverage Threshold
        run: |
          chmod +x scripts/check_coverage.sh
          ./scripts/check_coverage.sh
      
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          file: coverage/lcov.info
